* {
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* background-color: #006d77; */
}

h1 {
  text-align: center;
}

.container {
  margin: 25px;
}

span {
  color: red;
}

#container-output {
  background-color: #bb3e03;
  margin: 25px;
  border: 4px solid #414833
}

#container-input {
  font-size: 18px;
  padding: 30px;
  font-weight: bolder;
}

.form-input {
  margin: 12px;
  display: block;
  padding: 5px;
  width: 90%;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  background-color: #e29578;
  padding: 15px;
  margin: 10px;
  border-radius: 14px;
  border-style: solid;
}

.table-responsive > th {
  font-size: 16px;
}

tr #id {
  width: 10%;
}

tr #text {
  width: 50%;
}

tr #created_at {
  width: 10%;
}

tr #Tags {
  width: 20%;
}

tr #is_complete {
  width: 10%;
}