* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #7f5539;  
  text-align: center;
  
}

h1 {
  color: #ede0d4;
}

table {
  color: #ede0d4;
  border: solid;
  margin: 0 auto;
}

th {
  border: solid;
  padding: 8px;
}

td {
  border: solid;
  padding: 8px;
}

.container {
  margin: 25px;
  text-align: center;
  display: flexbox;
}




tr #id {
  width: 10%;
}

tr #text {
  width: 50%;
}

tr #created_at {
  width: 10%;
}

tr #Tags {
  width: 20%;
}

tr #is_complete {
  width: 10%;
}

@media (max-width:767px) {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width:768px) {
  img {
    max-width: 600px;
    max-height: 600px;
  }
}

@media (min-width:992px) {
  img {
    max-width: 800px;
    max-height: 800px;
  }
}

@media (min-width:1200px) {
  img {
    max-width: 1000px;
    max-height: 600px;
  }
}